<header>
  <div class="content">
    <div class="content-header">
      <h1>{{ titulo }}</h1>
      <div class="bandeiras">
        <div class="bandeira">
          <img src="../../../assets/imagens/brasil.png" alt="Portiguês" (click)="informaNovaLinguagem('pt')" />
          Português
        </div>
        <div class="bandeira">
          <img src="../../../assets/imagens/usa.png" alt="English" (click)="informaNovaLinguagem('en')" />
          English
        </div>
        <div class="bandeira">
          <img src="../../../assets/imagens/espanha.png" alt="Español" (click)="informaNovaLinguagem('es-MX')" />
          Español
        </div>
      </div>
    </div>
  </div>
</header>
